<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <p>{{count}}</p>

        <button @click="lock = true">LOCK</button>

        <iframe v-if="lock" src="./iframe.html" frameborder="0"></iframe>
    </div>

    <script>
        var app = Vue.createApp({
            data() {
                return {
                    lock: false,
                    count: 0,
                    interval_handler: null,
                };
            },
            mounted() {
                this.interval_handler = setInterval(() => this.count++, 1000)
            },
            beforeDestroy() {
                clearInterval(this.interval_handler);
            },
        });

        app.mount("#app");
    </script>
</body>
</html>